/* css fyrir login.html */

.adminform{
    padding: 30px;
    position: fixed;

}

.adminbox{

    width: 300px;
    align-items: center;
}

.buttonsadmins{
    align-items: center;
}

/* css fyrir addTypePage.html */
.contentAddTypePage{
    padding-left: 20px;
    padding-top: 20px;
}


