.background {
    background-color: #5b6b84;
    height: 100%;
}

.background-tab {
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 20px;
}

.header {
    padding-left: 20px;
}
