<!-- Höfundur: Brynja Pálína Sigurgeirsdóttir, bps5@hi.is -->
<!-- Höfundur: Elvar Kjartansson, elk11@hi.is -->
<!-- Höfundur: Karítas Sif Halldórsdóttir, ksh18@hi.is -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foo'd'bar</title>
</head>

<body>
<h1>Bættu við veitingastað hér fyrir neðan</h1>

<form th:action="@{/addedRest}"  method="POST">
    <fieldset>
        <legend>Grunnupplýsingar</legend>
        <div>
            <label>Nafn:</label>
            <input type="text" name="addNameRest" id="addNameRest" placeholder="Nafn á veitingastað"/>
        </div>
        <div>
            <label>Póstnúmer:</label>
            <input type="text" name="addPostCode" id="addPostCode"  placeholder="Póstnúmer"/>
        </div>
        <div>
            <label>Heimiisfang:</label>
            <input type="text"  name="addAddress" id="addAddress" placeholder="Heimilisfang"/>
        </div>
        <div>
            <label>Símanúmer:</label>
            <input type="text" name="addNumber" id="addNumber" placeholder="Símanúmer"/>
        </div>
        <div>
            <label>Gæðaflokkur:</label>
            <input type="text" name="addQuality" id="addQuality" placeholder="Gæðaflokkur"/>
        </div>
        <div>
            <label>Matseðil:</label>
            <input type="text" name="addMenuType" id="addMenuType" placeholder="Matseðill"/>
        </div>
        <div>
            <label>Tegund:</label>
            <input type="text"  name="addType" id="addType" placeholder="Tegund matar"/>
        </div>
        <div>
            <label>Opnunartími Mánudagar:</label>
            <input type="text" name="addOpenMon" placeholder="Opnunartími"/>
        </div>
        <div>
            <label>Lokunartími Mánudagar:</label>
            <input type="text" name="addCloseMon" placeholder="Lokunartími"/>
        </div>
        <div>
            <label>Opnunartími Þriðjudagar:</label>
            <input type="text" name="addOpenTue" placeholder="Opnunartími"/>
        </div>
        <div>
            <label>Lokunartími Þriðjudagar:</label>
            <input type="text" name="addCloseMon" placeholder="Lokunartími" />
        </div>
        <div>
            <label>Opnunartími Miðvikudagar:</label>
            <input type="text" name="addOpenWed" placeholder="Opnunartími"/>
        </div>
        <div>
            <label>Lokunartími Miðvikudagar:</label>
            <input type="text" name="addCloseMon" placeholder="Lokunartími"/>
        </div>
        <div>
            <label>Opnunartími Fimmtudagar:</label>
            <input type="text" name="addOpenThu" placeholder="Opnunartími"/>
        </div>
        <div>
            <label>Lokunartími Fimmtudagar:</label>
            <input type="text" name="addCloseMon"  placeholder="Lokunartími" />
        </div>
        <div>
            <label>Opnunartími Föstudagar:</label>
            <input type="text" name="addOpenFri" placeholder="Opnunartími"/>
        </div>
        <div>
            <label>Lokunartími Föstudagar:</label>
            <input type="text" name="addCloseMon" placeholder="Lokunartími" />
        </div>
        <div>
            <label>Opnunartími Laugardagar:</label>
            <input type="text" name="addOpenSat" placeholder="Opnunartími"/>
        </div>
        <div>
            <label>Lokunartími Laugardagar:</label>
            <input type="text" name="addCloseMon" placeholder="Lokunartími"/>
        </div>
        <div>
            <label>Opnunartími Sunnudagar:</label>
            <input type="text" name="addOpenSun" placeholder="Opnunartími"/>
        </div>
        <div>
            <label>Lokunartími Sunnudagar:</label>
            <input type="text" name="addCloseMon" placeholder="Lokunartími"/>
        </div>
        <div>
            <input type="submit" value="Bæta við veitingastað" />
        </div>
    </fieldset>
</form>
<a method="POST" href="/restList">Skoða veitingastaði</a>
<a method="POST" href="/admin">Skrá út</a>
</body>
</html>

