<!-- Höfundur: Karítas Sif Halldórsdottir, ksh18@hi.is -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


    <head th:fragment="haus" lang="en">

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Foo'd'bar</title>

    <!-- linkur til að ná í Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />

        <!-- css skjal og linkur í það -->
    <link href="../static/css/head.css" th:href="@{/css/head.css}" rel="stylesheet" />
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/js/index.js}"/>
</head>
<body>
<div th:fragment="valmyndir">
    <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li><a href="/index">FoodBar</a></li>
                    <li><a href="#">Um okkur</a></li>
                    <li class="dropdown mega-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Veitingarstaðir<span class="caret"></span></a>
                        <div class="dropdown-menu mega-dropdown-menu">
                            <div class="container-fluid">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="men">
                                        <ul class="nav-list list-inline">
                                            <li><a href="#"><img src="https://notendur.hi.is/ksh18/hugbo1/pizza2.png"/><span>Pizza og Pasta </span></a></li>
                                            <li><a href="#"><img src="https://notendur.hi.is/ksh18/hugbo1/chines.png"/><span>Asískt</span></a></li>
                                            <li><a href="#"><img src="https://notendur.hi.is/ksh18/hugbo1/hamburger.png"/><span>Hamborgarar</span></a></li>
                                            <li><a href="#"><img src="https://notendur.hi.is/ksh18/hugbo1/steik.png"/><span>Steikhús</span></a></li>
                                            <li><a href="#"><img src="https://notendur.hi.is/ksh18/hugbo1/chikenn.png"/><span>Kjúklingur</span></a></li>
                                            <li><a href="#"><img src="https://notendur.hi.is/ksh18/hugbo1/vegiterian.png"/><span>Grænmetisréttir</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="women">
                                        <ul class="nav-list list-inline">
                                            <li><a href="#"><img src="https://notendur.hi.is/ksh18/hugbo1/pizza2.png"/><span>Pizza</span></a></li>
                                            <li><a href="#"><img src="https://notendur.hi.is/ksh18/hugbo1/chines.png"/><span>Asískt</span></a></li>
                                            <li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png"/><span>Football</span></a></li>
                                            <li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png"/><span>Soccer</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="kids">
                                        <ul class="nav-list list-inline">
                                            <li><a href="#"><img src="https://notendur.hi.is/ksh18/hugbo1/pizza2.png"/><span>Pizza</span></a></li>
                                            <li><a href="#"><img src="https://notendur.hi.is/ksh18/hugbo1/chines.png"/><span>Asískt</span></a></li>
                                            <li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png"/><span>Football</span></a></li>
                                            <li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png"/><span>Soccer</span></a></li>
                                            <li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_MensTraining.png"/><span>Men's Training</span></a></li>
                                            <li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_WomensTraining.png"/><span>Women's Training</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="sports">
                                        <ul class="nav-list list-inline">
                                            <li><a href="#"><img src="https://notendur.hi.is/ksh18/hugbo1/chines.png"/><span>Asískt</span></a></li>
                                            <li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png"/><span>Football</span></a></li>
                                            <li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png"/><span>Soccer</span></a></li>
                                            <li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_MensTraining.png"/><span>Men's Training</span></a></li>
                                            <li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_WomensTraining.png"/><span>Women's Training</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#men" role="tab" data-toggle="tab">Morgunmatur</a></li>
                                <li><a href="#women" role="tab" data-toggle="tab">Hádeigismatur</a></li>
                                <li><a href="#kids" role="tab" data-toggle="tab">Kvöldmatur</a></li>
                                <li><a href="#sports" role="tab" data-toggle="tab">Kaffihús og Pubbar</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="search-control">
                            <div class="input-group" id="adv-search">
                                <form id="formID" method="POST" th:action="@{/searchbar}">
                                    <input class="form-control" name="find" type="text" placeholder="Sláðu inn leitarorð"/>
                                </form>
                                  <div class="input-group-btn">
                                    <div class="btn-group" role="group">
                                        <div class="dropdown dropdown-lg">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                                <form class="form-horizontal" role="form" method="POST" th:action="@{/search}" th:object="${restaurant}">
                                                    <ul>
                                                        <li th:errors="*{name}" />
                                                    </ul>
                                                    <div class="form-group">
                                                        <label>Veitingastaður</label>
                                                        <input class="form-control" name="name" type="search" th:field="*{name}" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="contain">Heimilisfang</label>
                                                        <input class="form-control" name="address" type="text" th:field="*{address}"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="filter">Póstnúmer</label>
                                                        <select class="form-control" name="postCode" th:field="*{postCode}">
                                                            <option value="0" th:value="0">Veldu Póstnúmer</option>
                                                            <option value="1" th:value="101">101</option>
                                                            <option value="2" th:value="103">103</option>
                                                            <option value="3" th:value="104">104</option>
                                                            <option value="4" th:value="105">105</option>
                                                            <option value="5" th:value="107">107</option>
                                                            <option value="6" th:value="108">108</option>
                                                            <option value="7" th:value="109">109</option>
                                                            <option value="8" th:value="110">110</option>
                                                            <option value="9" th:value="111">111</option>
                                                            <option value="10" th:value="112">112</option>
                                                            <option value="11" th:value="113">113</option>
                                                            <option value="12" th:value="116">116</option>
                                                            <option value="13" th:value="170">170</option>
                                                            <option value="14" th:value="200">200</option>
                                                            <option value="15" th:value="201">201</option>
                                                            <option value="16" th:value="203">203</option>
                                                            <option value="17" th:value="210">210</option>
                                                            <option value="19" th:value="220">220</option>
                                                            <option value="19" th:value="221">221</option>
                                                            <option value="20" th:value="225">225</option>
                                                            <option value="21" th:value="270">270</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="filter">Tegund</label>
                                                        <select class="form-control" name="type">
                                                            <option value="0" th:value="0">Veldu tegund</option>
                                                            <option value="Pizza" th:value="Pizza">Pizza</option>
                                                            <option value="Pasta" th:value="Pasta">Pasta</option>
                                                            <option value="Hamorgarar" th:value="Hamborgarar">Hamborgarar</option>
                                                            <option value="kjot" th:value="Kjöt">Kjöt</option>
                                                            <option value="fiskur" th:value="Fiskur">Fsikur</option>
                                                            <option value="kjuklingur" th:value="Kjúklingur">Kjúklingur</option>
                                                            <option value="asiskt" th:value="asiskt">Asískt</option>
                                                            <option value="graenmetis" th:value="Grænmetisréttir">Grænmetisréttir</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="filter">Gæðaflokkur</label>
                                                        <select class="form-control" name="quality" th:field="*{quality}">
                                                            <option value="0" th:value="0">Gæðaflokkur</option>
                                                            <option value="1" th:value="1">Skyndibitastaður</option>
                                                            <option value="3" th:value="3">Millifínt</option>
                                                            <option value="5" th:value="5">Fínt</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="filter">Tegund matseðils</label>
                                                        <select class="form-control" name="menuType">
                                                            <option th:value="0">Matseðil</option>
                                                            <option th:value="'Morgunmatur'">Morgunmatur</option>
                                                            <option th:value="'Kvöldmatur'">Kvöldmatur</option>
                                                            <option th:value="'Hádeigismatur'">Hádeigismatur</option>
                                                            <option th:value="'Kaffi og kökur'">Kaffi og kökur</option>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                                </form>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" form="formID" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="/admin" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/admin">Skrá inn</a></li>
                            <li><a href="/restList">Skoða veitingastaði</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Skrá út</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div th:fragment="prologue" >
    <!-- Linkar til að ná í javascriptur tengdar Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</div>
</body>
</html>