<!-- Höfundur: Brynja Pálína Sigurgeirsdóttir, bps5@hi.is -->
<!-- Höfundur: Karítas Sif Halldórsdottir, ksh18@hi.is -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foo'd'bar</title>

</head>
<body>
    <h1>Foo'd'bar</h1>


    <table>
        <tr>
            <th>Veitingarstaður</th>
            <th>Heimilsfang</th>
            <th>Póstnúmer</th>
            <th>Gæðaflokkur</th>
        </tr>
        <tr th:each="resto : ${listi}">
            <td th:text="${resto.nafnVeitingastad}"/>
            <td th:text="${resto.postCode}" />
            <td th:text="${resto.address}" />
        </tr>
    </table>
</body>
</html>