<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/test.css" th:href="@{/css/test.css}" rel="stylesheet" />
    <title>test</title>
</head>
<body>
    <h1>Foo'd'bar</h1>
    <p>Síða sem er einföld bara til að sjá hvort hún keyri mðe thymeleaf</p>
    <p>Er hægt að bæta við html án þess að keyra aftur ? NEi þarf að stopa og keyra</p>


</body>
</html>