<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foo'd'bar</title>
    <link href="../static/css/indexPage.css" th:href="@{/css/indexPage.css}" rel="stylesheet" />
</head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<body>

<ul class="topnav">
    <li><img src="/images/logo.jpg" alt="Logo foodbar"/></li>
    <li><a class="active" href="#home">Upphafsíða</a></li>
    <li><a href="#contact">Veitingarstaðir</a></li>
    <li class="right"><a method="POST" href="/admin">Admin innskráning</a></li>
</ul>


<div class="header">
  <img class="imageheader" src="/images/header.jpg" alt="Food" width="1000" height="300">

    <form class="center" method="POST" action="/search">
        <h1>Foo'd'bar</h1>

        <div class="flex-container">
            <div class="flex-item">
                <input name="nafnVeitingastad" type="search" placeholder="Nafn á veitingastað"/>
            </div>
            <div class="flex-item">
                <input name="address" type="search" placeholder="Heimilisfang"/>
            </div>
            <div class="flex-item">

                <select name="postCode">
                    <option value="0">Póstnúmer</option>
                    <option value="101">101</option>
                    <option value="107">107</option>
                    <option value="105">105</option>
                    <option value="109">109</option>
                    <option value="111">111</option>
                    <option value="200">200</option>
                </select>
            </div>

            <div class="flex-item">

                <select name="quality">
                    <option value="0">Gæðaflokkur</option>
                    <option value="1">Skyndibitastaður</option>
                    <option value="3">Millifínt</option>
                    <option value="5">Fínt</option>
                </select>
            </div>
            <div class="flex-item">
                <select name="menuType" >
                    <option value="0">Matseðil</option>
                    <option value="Morgunmatur">Morgunmatur</option>
                    <option value="Kvöldmatur">Kvöldmatur</option>
                    <option value="Hádeigismatur">Hádeigismatur</option>
                    <option value="Kaffi og kökur">Kaffi og kökur</option>
                </select>
            </div>
            <div class="flex-item">
                <input type="submit" value="Leita" />
            </div>
        </div>

    </form>
</div>

</body>

</html>